<div class="login-card shadow p-3 mb-5 bg-white rounded">
    <div class="jumbotron">
        <h2 class="display-8">Customer Login</h2>
    </div>
    <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username">Customer login</label>
            <input type="text" class="form-control" id="username" aria-describedby="username" formControlName="username" />
            <span *ngIf="!username.valid">
        <small *ngIf="username.pending" class="text-warning"
          >customer id is verfiying</small
        >
        <small
          class="text-danger"
          *ngIf="username.touched && username.hasError('required')"
          >Id is required
        </small>
        <small class="text-danger" *ngIf="username.hasError('invalidSymbol')"
          >Id must not contain special characters</small
        >
        <small class="text-danger" *ngIf="username.hasError('invalidUsername')"
          >id is not valid</small
        >
      </span>
            <small *ngIf="username.valid" class="text-success">id is verfied</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password" />
            <small *ngIf="
          !loginForm.get('password').valid && loginForm.get('password').touched
        " class="text-danger">Password field is required
      </small>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="rememberPassword" formControlName="rememberPassword" />
            <label class="form-check-label" for="rememberPassword">Remember Password</label
      >
    </div>
    <button
      type="submit"
      class="btn btn-primary btn-lg"
      [disabled]="!loginForm.valid"
    >
      Login
    </button>
  </form>
</div>